@charset "UTF-8";
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #252525;
}

.navbar {
  padding: 1rem;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.navbar-collapse {
  transition: 0.5s;
}

.navbar-brand {
  color: whitesmoke;
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  margin-right: 3rem;
  color: whitesmoke;
}
.nav-link:hover {
  color: gray !important;
  transition: 0.4s;
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #252525;
}

/*Inicio*/
.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.inicio img {
  width: 250px;
  border-radius: 150px;
  background-image: radial-gradient(ellipse 150px 120px, ghostwhite, #252525);
  padding: 0.5rem;
  animation-name: movimiento;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 0.2s;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  font-size: 3rem;
  color: ghostwhite;
  text-align: center;
  margin: 4rem;
}

.container_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 1000px;
  background-color: rgba(240, 240, 241, 0.269);
}

.img-fluid {
  border-radius: 20px;
}

.card-body {
  margin: 2rem;
  color: rgba(245, 245, 245, 0.718);
}
.card-body a {
  text-decoration: underline solid rgba(245, 245, 245, 0.718);
}
.card-body .text-body-secondary {
  color: rgba(245, 245, 245, 0.718) !important;
}

/* Sección Sobre Mí*/
.presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.presentacion p {
  color: ghostwhite;
  width: 550px;
  margin: 2rem;
  text-align: center;
  font-size: 1rem;
}
.presentacion img {
  width: 250px;
  margin: 2rem;
  border-radius: 150px;
  padding: 0.5rem;
  background-image: radial-gradient(ellipse 150px 120px, whitesmoke, #252525);
}

.conocimientos {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 30% 30%;
  justify-content: center;
  margin: 6rem 0rem;
}
.conocimientos .skills {
  text-align: center;
}
.conocimientos .skills span {
  color: whitesmoke;
}
.conocimientos .skills .barra {
  display: block;
  margin: auto;
  width: 80%;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(166, 166, 166);
  overflow: hidden;
}
.conocimientos .skills .barra .progresoh {
  display: block;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
}
.conocimientos .skills .barra .progresoc {
  display: block;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
}
.conocimientos .skills .barra .progresop {
  display: block;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
}
.conocimientos .skills .barra .progresoi {
  display: block;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
}

.galeria_sbrmi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.galeria_sbrmi img {
  flex: 30%;
  width: 300px;
  border: 0.2rem solid #252525;
}

.vermas {
  display: block;
  text-align: center;
  color: whitesmoke;
}

.proyectos_sbrmi {
  color: whitesmoke;
  font-size: 3rem;
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.sub_sbrmi {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}

/*Seccion blog*/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}

.card-img-top {
  border-radius: 20px;
}

/*seccion contacto*/
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #252525;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: 4px 4px 25px 4px rgba(245, 245, 245, 0.102);
}
form p {
  margin: 1.5rem;
  text-align: center;
  color: whitesmoke;
  font-size: 1.2rem;
}
form label {
  color: whitesmoke;
  font-size: 1.2rem;
}
form textarea {
  display: block;
  margin: auto;
  border-radius: 20px;
  max-height: 10rem;
  min-height: 2rem;
}
form input {
  margin: 1.5rem;
  border-radius: 20px;
  padding: 0.5rem;
}
form .boton {
  padding: 0.5rem 6rem 0.5rem 6rem;
  background-color: #252525;
  color: whitesmoke;
  border: 2px solid rgba(245, 245, 245, 0.131);
  border-radius: 20px;
}
form .boton:hover {
  transition: 0.4s;
  background-color: rgba(245, 245, 245, 0.183);
  color: rgba(245, 245, 245, 0.622);
}

.upvent {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  width: 50%;
  height: 30px;
  background-color: rgba(75, 41, 75, 0.898);
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-top: 4rem;
}
.upvent .navegadorr, .upvent .navegadorv, .upvent .navegadora {
  display: flex;
  margin: 0.6rem 0.7rem;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: red;
  box-shadow: 1px 1px 20px 1px rgb(252, 69, 69);
}
.upvent .navegadora {
  background-color: yellow;
  box-shadow: 1px 1px 10px 1px yellow;
}
.upvent .navegadorv {
  background-color: green;
  box-shadow: 1px 1px 20px 1px rgb(60, 252, 60);
}

.ventana {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_datos {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 10rem;
  margin-bottom: 4rem;
}
.container_datos span {
  color: whitesmoke;
  margin: 1rem 2rem;
  font-size: 20px;
}

/*Footer*/
footer {
  background-color: rgb(240, 240, 241);
  padding: 2rem;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  .upvent {
    width: 70%;
  }
  .container_datos {
    width: 70%;
    padding-bottom: 5rem;
  }
  .container_datos span {
    margin: 0.5rem 0.5rem;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
