header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $colorprincipal;
}

.navbar{
    padding: 1rem;
}

.navbar-toggler{
    background-color: whitesmoke;
}

.navbar-collapse{
    transition: 0.5s;
}

.navbar-brand{
    color: whitesmoke;
}

.navbar-nav{
    margin: auto;
}

.nav-link{
    margin-right: 3rem;
    color: whitesmoke;

    &:hover{
        color: gray!important; 
        transition: 0.4s; 
    }
}
