$colorprincipal: #252525;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $colorprincipal;
}


/* Nav*/

.navbar{
    padding: 1rem;
}

.navbar-toggler{
    background-color: whitesmoke;
}

.navbar-brand{
    color: whitesmoke;
}

.navbar-nav{
    margin: auto;
}

.nav-link{
    margin-right: 3rem;
    color: whitesmoke;

    &:hover{
        color: gray!important; 
        transition: 0.4s; 
    }
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

 img{
    width: 250px;
    border-radius: 150px;
    background-color: whitesmoke;
    padding: 0.5rem;
}
}

h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    font-size: 3rem;
    color: ghostwhite;
    text-align: center;
    margin: 4rem;
}

/*Inicio*/

.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 850px;
    background-color: rgba(240, 240, 241, 0.582);
}

.img-fluid{
    border-radius: 20px;
}

.card-body{
    margin: 2rem;

    a{
        text-decoration: underline solid $colorprincipal;
    }
}

/* Sección Sobre Mí*/

.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    p{
        color: ghostwhite;
        width: 550px;
        margin: 2rem;
        text-align: center;
        font-size: 1rem;
    }
    img{
        width: 250px;
        margin: 2rem;
        border-radius: 150px;
    }
}

.galeria_sbrmi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;

    img{
        flex: 40%;
        width: 350px;
        border: 0.2rem solid $colorprincipal;
    }
}

.vermas{
    display: block;
    text-align: center;
    color: whitesmoke;
}

.proyectos_sbrmi{
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.sub_sbrmi{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 1rem;
}

/*Seccion blog*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
}

.card-img-top{
    border-radius: 20px;
}

/*seccion contacto*/

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $colorprincipal;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 25px 4px rgba(245, 245, 245, 0.102);

    p{
        margin: 1.5rem;
        text-align: center;
        color: whitesmoke;
        font-size: 1.2rem;
    }

    label{
        color: whitesmoke;
        font-size: 1.2rem;
    }
    textarea{
        display: block;
        margin: auto;
        border-radius: 20px;
        max-height: 10rem;
        min-height: 2rem;
    }
    input{
        margin: 1.5rem;
        border-radius: 20px;
        padding: 0.5rem;
    }
}

.container_datos{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    span{
        color: whitesmoke;
        margin: 1rem;
        font-size: 20px;
        text-align: center;
    }
}

.boton{
    padding: 0.5rem 6rem 0.5rem 6rem;
    background-color: $colorprincipal;
    color: whitesmoke;
    border: 2px solid rgba(245, 245, 245, 0.131);
    border-radius: 20px;

    &:hover{
        transition: 0.4s;
        background-color: rgba(245, 245, 245, 0.183);
        color: rgba(245, 245, 245, 0.622);
    }
}

/*Footer*/

footer{
    background-color: rgb(240, 240, 241);
    padding: 2rem;

    p{
        text-align: center;
        font-size: 1.2rem;
    }
}