 @import "variables.scss";
 @import "nav";

@keyframes movimiento {
    0% {transform: translateY(0);}
    50% {transform: translateY(-2rem);}
    100%{transform: translateY(0);}
}
@mixin esp_prop($margin, $border-radius){
    margin: $margin;
    border-radius: $border-radius;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $colorprincipal;



/*Inicio*/

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

 img{
    width: 250px;
    border-radius: 150px;
    background-image: radial-gradient(ellipse 150px 120px,ghostwhite, $colorprincipal);
    padding: 0.5rem;

    animation-name: movimiento;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 0.2s;
}
}

h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    font-size: 3rem;
    color: ghostwhite;
    text-align: center;
    margin: 4rem;
}


.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 1000px;
    background-color: rgba(240, 240, 241, 0.269);
}

.img-fluid{
    border-radius: 20px;
}

.card-body{
    margin: 2rem;
    color: rgba(245, 245, 245, 0.718);
    a{
        text-decoration: underline solid rgba(245, 245, 245, 0.718);
    }
    .text-body-secondary{
        color: rgba(245, 245, 245, 0.718)!important;
    }
}

/* Sección Sobre Mí*/

.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    p{
        color: ghostwhite;
        width: 550px;
        margin: 2rem;
        text-align: center;
        font-size: 1rem;
    }
    img{
        width: 250px;
        @include esp_prop(2rem, 150px);
        padding: 0.5rem;
        background-image: radial-gradient(ellipse 150px 120px,whitesmoke, $colorprincipal);
    }
}

.conocimientos{
    display: grid;
    grid-template-rows: 100% 100%;
    grid-template-columns: 30% 30%;
    justify-content: center;
    margin: 6rem 0rem;

    .skills{
        text-align: center;

        span{
            color: whitesmoke;
        }

        .barra{
            display: block;
            margin: auto;
            width: 80%;
            height: 10px;
            border-radius: 20px;
            background-color: rgb(166, 166, 166);
            overflow: hidden;

            .progresoh{
                display: block;
                width: 60%;
                height: 100%;
                border-radius: 20px;

                background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
            }
            .progresoc{
                display: block;
                width: 60%;
                height: 100%;
                border-radius: 20px;

                background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
            }
            .progresop{
                display: block;
                width: 80%;
                height: 100%;
                border-radius: 20px;

                background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
            }
            .progresoi{
                display: block;
                width: 70%;
                height: 100%;
                border-radius: 20px;

                background-image: linear-gradient(-50deg, rgb(143, 0, 0) 25%, rgb(75, 75, 75) 75%);
            }
        }
    }
}

.galeria_sbrmi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;

    img{
        flex: 30%;
        width: 300px;
        border: 0.2rem solid $colorprincipal;
    }
}

.vermas{
    display: block;
    text-align: center;
    color: whitesmoke;
}

.proyectos_sbrmi{
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.sub_sbrmi{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 1rem;
}

/*Seccion blog*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 1rem;
}

.card-img-top{
    border-radius: 20px;
}

/*seccion contacto*/

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $colorprincipal;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 4px 4px 25px 4px rgba(245, 245, 245, 0.102);

    p{
        margin: 1.5rem;
        text-align: center;
        color: whitesmoke;
        font-size: 1.2rem;
    }

    label{
        color: whitesmoke;
        font-size: 1.2rem;
    }
    textarea{
        display: block;
        @include esp_prop(auto, 20px);
        max-height: 10rem;
        min-height: 2rem;
        text-align: center;
        background-image: linear-gradient(-50deg, rgb(104, 104, 104) 25%, #393939 75%,);
        color: whitesmoke
    }
    input{
        @include esp_prop(1.5rem, 20px);
        padding: 0.5rem;
        color: whitesmoke;
        background-image: linear-gradient(-50deg, rgb(104, 104, 104) 25%, #393939 75%);
    }
    .boton{
    padding: 0.5rem 6rem 0.5rem 6rem;
    background-color: $colorprincipal;
    color: whitesmoke;
    border: 2px solid rgba(245, 245, 245, 0.131);
    border-radius: 20px;
    background-image: none!important;

    &:hover{
        transition: 0.4s;
        background-color: rgba(245, 245, 245, 0.183);
        color: rgba(245, 245, 245, 0.622);
    }
}
}

.upvent{
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 35rem;
    height: 30px;
    background-color: rgba(75, 41, 75, 0.898);
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin-top: 4rem;
    
    .navegadorr{
        display: flex;
        margin: 0.6rem 0.7rem;
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background-color: red;
        box-shadow: 1px 1px 20px 1px rgb(252, 69, 69);
    }
    .navegadora{
        @extend .navegadorr;
        background-color: yellow;
        box-shadow: 1px 1px 10px 1px yellow;
    }
    .navegadorv{
        @extend .navegadorr;
        background-color: green;
        box-shadow: 1px 1px 20px 1px rgb(60, 252, 60);
    }
}

.ventana{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_datos{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
    border-radius: 0px 0px 20px 20px;
    padding-bottom:10rem;
    margin-bottom: 4rem;

    span{
        color: whitesmoke;
        margin: 1rem 2rem;
        font-size: 20px;
    }
}



/*Footer*/

footer{
    background-color: rgb(240, 240, 241);
    padding: 2rem;

    p{
        text-align: center;
        font-size: 1.2rem;
    }
}
}

@media screen and (max-width: 700px){
    body{
    h1{
        font-size: 2rem;
        margin: 1rem;
    }
    .upvent{
        width: 15.7rem;      
    }
    
    .container_datos{
        width: 15.7rem;
        padding-bottom:5rem;
    
        span{
            margin: 0.5rem 0.5rem;
            font-size: 12px;
        }
    }
    }
}